<h2>Completed & Expired Tasks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Priority</th>
        <th>Action</th>
      </tr>          
    </thead>
    <tbody>
      <tr ng-repeat="message in messages | nonActiveItems:showComplete | orderBy:'priority'">
        <td ng-class="statusCheck(message)">{{message.user}}</td>
        <td>{{message.text}}</td>
        <td>
          <!--<button class="btn btn-xs btn-warning" ui-sref="edit">Edit</button>-->
         	<button class="btn btn-xs btn-danger" ng-click="removeMessage(message.key)"><i class="fa fa-trash-o fa-lg"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
