<h2>Add Task</h2>
<!-- Todos input -->
<form role="form" ng-submit="sendMessage()" class="form-inline">
  <fieldset>
      <div class="control-group">

        <!--<input type="text" ng-model="currentUser" placeholder="Who needs it done?" class="form-control">-->
        <input type="text" ng-model="currentText" placeholder="What needs to be done?" class="form-control input-large">

        <label class="control-label" for="priority">Priority</label>
        <select id="priority" ng-model="newTaskPriority" ng-options="obj.name for obj in priorities" class="form-control input-small">
          <option class="disabled" value="">Choose a priority</option>
        </select>

        <label class="control-label" for="dueDate">Due Date</label>
        <input ui-date ng-model="newTaskDate" class="form-control input-small">

        <input type="submit" class="btn btn-primary" value="Add">
      </div> 

  </fieldset>
</form>

<h2>Current Tasks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Priority</th>
        <th>Action</th>
      </tr>          
    </thead>
    <tbody>
      <tr ng-repeat="message in messages | activeItems:showComplete | orderBy:'priority'">
        <td ng-class="statusCheck(message)">{{message.user}}</td>
        <td>{{message.text}}</td>
        <td>
          <!--<button class="btn btn-xs btn-warning" ui-sref="edit">Edit</button>-->
          <button class="btn btn-xs btn-success" ng-click="updateMessage(message.key)"><i class="fa fa-check"></i>
          <button class="btn btn-xs btn-danger" ng-click="removeMessage(message.key)"><i class="fa fa-trash-o fa-lg"></i></button>
          <!--<button class="btn btn-xs btn-warning" ng-click="checkDate(message.duedate)">Check Date</button>-->
        </td>
      </tr>
    </tbody>
  </table>



